<p>login works!</p>,

<!--

  Hier soll eine einfache Benutzer Anmeldung eingebaut werden.
  1) Ein Formular mit Email und Passwort Feld wird erstellt. (Benutze dafür Template Driven Forms: https://angular.io/guide/form-validation)
  2) Wenn der Button "Anmelden" gedrückt wird, wird die Funktion "handleSubmit" aufgerufen.
     In dieser Funktion wird das Formular gecheckt.
       a) Wenn es Fehler gibt, wird ein Fehlermeldungs-String erzeugt und angezeigt.
       b) Wenn alles in Ordnung ist, wird die Methode "onLogin()" aufgerufen

  Die Methode onLogin() soll checken, ob es in der db.json einen User mit der entsprechenden Email- und Passwortkombination gibt.

 -->
