:host {
  display: block;
}

.loginbox{
  display: flex;
  background-color: #0f8fc20c;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  max-width: 822px;
  padding: 15px;
  color: white;
  gap: 15px;
  border-color: rgb(4, 141, 253);
  border-width: 1.23px;
  border-style: solid;
  margin: auto;
}

.show-popup .form-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}

.closeicon{
  padding-left: 350px;
}

.form-popup .close-btn {
  top: 12px;
  right: 12px;
  color: #ffffff;
}
.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}

.form-popup .form-box {
  display: flex;
}

.form-box .form-details {
  width: 100%;
  color: #fff;
  max-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .form-details {
  padding: 0 40px;
  background: url("/assets/img/login-img.png");
  background-position: center;
  background-size: cover;
}

.signup .form-details {
  padding: 0 20px;
  background: url("/assets/img/signup-img.png");
  background-position: center;
  background-size: cover;
}

.form-box .form-content {
  width: 100%;
  padding: 35px;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 29px;
}

form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.input-field input {
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  font-size: 0.95rem;
  border: 1px solid #027ff3;
  border-radius: 3px;
}

.input-field input:focus {
  border: 1px solid #00bcd4;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #ffffff;
  pointer-events: none;
  transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  padding: 4px 0;
}

.input-field input:is(:focus, :valid)~label {
  transform: translateY(-80%);
  color: #00bcd4;
  font-size: 0.75rem;
}

.form-box a {
  color: #00bcd4;
  text-decoration: none;
}

.form-box a:hover {
  text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
  display: block;
  margin-top: 13px;
  font-size: 0.95rem;
}

form button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  margin: 25px 0;
  background: #00bcd4;
  transition: 0.2s ease;
}

form button:hover {
  background: #0097a7;
}

.form-content .bottom-link {
  text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
  display: none;
}

.form-popup.show-signup .signup {
  display: flex;
}

.signup .policy-text {
  display: flex;
  margin-top: 14px;
  align-items: center;
}

.signup .policy-text input {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}
#signup-link{
  cursor: pointer;
  color: blue;
}
#login-link{
  cursor: pointer;
  color: blue;
}
.material-symbols-rounded {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.material-symbols-rounded:hover{
  color: #027ff3;
}